.bg-success {
  background-color: #c6f2d2;
}

.bg-warning {
  background-color: #fbf3d3;
}

.bg-error {
  background-color: #fceeef;
}

.text-success {
  color: #2c5238;
}

.text-warning {
  color: #7e672d;
}

.text-error {
  color: #c9302b;
}
