.toast {
  border-left: 0.5rem solid #adadad;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  max-width: 400px;
  padding: 12px 16px;
  color: #1b1b1b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.toast--topLeft {
  top: 20px;
  left: 20px;
  animation: slideInFromLeft 0.3s ease-out forwards;
}

.toast--topRight {
  top: 20px;
  right: 20px;
  animation: slideInFromRight 0.3s ease-out forwards;
}

.toast--bottomLeft {
  bottom: 20px;
  left: 20px;
  animation: slideInFromLeft 0.3s ease-out forwards;
}

.toast--bottomRight {
  bottom: 20px;
  right: 20px;
  animation: slideInFromRight 0.3s ease-out forwards;
}

.toast--info {
  background-color: #e7f6f8;
  border-left-color: #00bde3;
}
.toast--warning {
  background-color: #faf3d1;
  border-left-color: #ffbe2e;
}
.toast--success {
  background-color: #ecf3ec;
  border-left-color: #00a91c;
}
.toast--error {
  background-color: #f4e3db;
  border-left-color: #d54309;
}
.toast--emergency {
  background-color: #9c3d10;
  border-left-color: #9c3d10;
}

.toast--emergency *,
.toast--emergency .toast__close-button {
  color: white;
}

.toast__message {
  margin: 0;
  flex-grow: 1;
}

.toast__close-button {
  background: none;
  border: none;
  color: #1b1b1b;
  cursor: pointer;
  padding: 4px;
  margin-left: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.toast--bottomRight.toast--isLeaving,
.toast--topRight.toast--isLeaving {
  animation: slideOutToRight 0.3s ease-in forwards;
}

.toast--bottomLeft.toast--isLeaving,
.toast--topLeft.toast--isLeaving {
  animation: slideOutToLeft 0.3s ease-in forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
